h1{
	width: 95%;
	margin: 30px auto;
	text-align: center;
}

.gallery{
	width: 80%;
	height: 80%;
	/* border: 2px solid black; */
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.gallery img{
	width: 100%;
}

.grid{
	position: relative;
}

.item{
  display: block;
	position: absolute;
	z-index: 1;	
}

.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}


.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

